extends layout

block content
  .row
    .span12
      br
      br
      br
  .row
    .span12
      p= errors
      h1 Blog Posts
      a.btn.btn-primary(href="/admin/blog/create") New Post
      table.table
        thead
          tr
            th Title
            th DJ
            th Date
            th Options
        tbody
        - for post in data
          tr
            td= post.title
            td= post.dj
            td= post.date
            td

              a(href="/admin/blog/edit/" + post.slug) Edit 
              
              a(href="#") Delete

