BaseController = require('./base')

module.exports = class <%= name %>Controller extends BaseController

  constructor: (@am) ->
    super(@am)

<% _.each(methods, function(method) { %>
  action_<%= method %>: (req, res) =>
    res.render "<%= name.toLowerCase() %>/<%= method %>"
    return
<% }); %>
