module.exports = (app, controllers) ->
<% _.each(methods, function (method) { %>
  app.get "/<%= name.toLowerCase() %>/<%= method %>", (req, res) ->
    controllers.<%= name.toLowerCase() %>.action_<%= method %>(req, res)
<% }); %>



