BaseController = require('./base')
module.exports = class <%= name %>Controller extends BaseController

  constructor: (@am) ->
    super(@am)
    @io = require('socket.io').listen(@app)
    @on()

  on: =>
    @io
    .of('/<%= name.toLowerCase() %>')
    .on 'connection', (socket) =>
      console.log "Connection verified..."
      @helloworld(socket)
<% _.each(methods, function (value) { %>
      socket.on '<%= value %>', () -> 
<% }); %>

  helloworld: (socket, cb) ->
    socket.emit('message', {hello: 'world'})
    console.log "helloworld sent"
    if cb then cb()
    
