<div class="span12">
  <form id="editBlog" action="<%= @action %>" method="post" class="form-horizontal">
    <fieldset>

      <div class="control-group">
        <label for="username" class="control-label">Username</label>
        <div class="controls">
          <input name="username" type="text" id="username" class="input-xlarge" value="<%= @item.username %>">
        </div>
      </div>
      
      <div class="control-group">
        <label for="email" class="control-label">Email</label>
        <div class="controls">
          <input name="email" type="text" id="email" class="input-xlarge" value="<%= @item.email %>">
        </div>
      </div>
      
      <div class="control-group">
        <label for="password" class="control-label">Password</label>
        <div class="controls">
          <input name="password" type="password" id="password" class="input-xlarge" value="<%= @item.password %>">
        </div>
      </div>
      
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save Changes</button>
      </div>
    </fieldset>
  </form>
</div>
