<div class="row">
  <div class="span12"><br><br><br></div>
</div>
<div class="row">
  <div class="span8">
    <p><%= @errors %></p>
    <h1>Users</h1>
    <hr>
    <a href="/{{lowercase name}}/users/create" class="btn btn-primary">New Users</a>
    <br />
    <br />
    <%- @partial('_table', {item: @pagination.results}) %>
    <center>
      <%- @partial('_page', @pagination) %>
    </center>
  </div>
  <%- @partial('_search') %>
</div>
