<div class="content">
  <div class="row">
    <div class="login-form">
      <h2>Login</h2>
      <form name="login" action="/auth" method="post">
        <fieldset>
          <div class="clearfix">
            <input name="username" type="text" placeholder="Username">
          </div>
          <div class="clearfix">
            <input name="password" type="password" placeholder="Password">
          </div>
          <button class="btn primary" type="submit">Sign in</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
