<div class="span4">
  <p></p>
  <h1>Search</h1>
  <hr>
  <form id="search{{dataname}}" action="/{{lowercase resource}}/{{lowercase dataname}}/search" method="get" class="form-search">
    <input name="search" type="text" id="search" class="input-medium search-query" value="">
    <button type="submit" class="btn">Submit</button>
  </form>
</div>

