Db = require('./db')
<%= name %> = new Db.Schema<% _.each(data, function (key, value) { %>
  <%= value %>: <%= key %>,<% }); %>
  slug:
    type: String,
    unique: true,

<% _.each(data, function (key, value) { %>
<%= name %>.path('<%= value %>').validate (v) ->
<% }); %>

<%= name %>.path('slug').validate (v) ->

module.exports = Db.Model.register '<%= name %>', <%= name %>
