module.exports = (americano) =>

  validate = americano.validator

  <%= name %> = new americano.model.schema<% _.each(data, function (key, value) { %>
    <%= value %>: <%= key %>,<% }); %>
    slug:
      type: String,
      unique: true,

  return <%= name %>
